[submodule "lib/funcunit"]
	path = lib/funcunit
	url = git@github.com:bitovi/funcunit.git
[submodule "lib/steal"]
	path = lib/steal
	url = https://github.com/bitovi/steal
[submodule "lib/can"]
	path = lib/can
	url = https://github.com/bitovi/canjs
